h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    background-color: DodgerBlue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    padding: 10px;
    height: 440px;
    width: 440px;
}

.flex-container > div{
    height: 12.5%;
    width: 12.5%;
}

.flex-container .black{
    background-color: black;
}

.flex-container .white{
    background-color: white;
}

.flex-container .white:hover {
    background-color: aqua;
}